@import url("palette.css");

body {
    background-color: grey;
    border-style: solid;
    border-color: orange;
    height: 80%;
}

header {
    width: 100%;
    background-color: rgb(75, 75, 75);
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: var(--b1);
}

aside {
    width: 20%;
    border: solid 1px purple;
}

footer {
    width: 100%;
    height: 20%;
    background-color: rgb(75, 75, 75);
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: yellow;
}

.container {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: green;
}

.content {
    width: 80%;
    border-style: solid;
    border-color: cyan;
}

.title {
    font-size: 50px;
    color: white;
}