@import url("palette.css");

body {
    font-family: 'georgia';
    background-color: #fffdd0;
    height: 80%;
    color: #292923;
}

header {
    width: 100%;
    height: 4.5em;
    background: #fffdd0;
    border-bottom: solid 1em #f3e5ab;
}

aside {
}

footer {
    width: 100%;
    bottom: 0;
    height: 4.5em;
    position: absolute;
    background-color: #faf0be;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #292923;
}

h1 {
    margin: 0;
}

button, input[type="submit"] {
    width: 150px;
    border-radius: 0.5em;
    padding: 10px;
    background-color: #faf0be;
    color: #292923;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover, input[type="submit"]:hover {
    background-color: #f3e5ab;
    color: #556832;
}

li {
    background-color: #faf0be;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f3e5ab;
}

a {
    color: #556832;
    text-decoration: none;
    font-weight: bold;
    margin-right: 1em;
    transition: color 0.3s ease;
}

a:hover {
    color: #6b8e23;
}

.id {
    font-weight: bold;
    margin-right: 1em;
}

.dishname {
    flex-grow: 1;
}

.dish_add, .dish_update {
    justify-content: left;
    text-align: left;
    margin: 1em;
}

.dish_add h1, .dish_update h1{
    color: #292923;
    font-size: 2em;
    margin-bottom: 1em;
}

.dish_add input[type="text"], .dish_update input[type="text"]{
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #f3e5ab;
    border-radius: 5px;
    background-color: #faf0be;
    color: #292923;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.dish_add input[type="text"]:focus, .dish_update input[type="text"]:focus {
    border-color: #6b8e23;
    outline: none;
}

.dish_add input[type="submit"], .dish_update input[type="submit"] {
    padding: 10px 20px;
    background-color: #6b8e23;
    color: #292923;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.dish_add input[type="submit"]:hover, .dish_update input[type="submit"]:hover {
    background-color: #6b8e23;
}

.menu_btn {
    width: 10em;
    height: 3em;
}

.dish_list {
    justify-content: left;
    text-align: left;
    margin: 1em;
    list-style-type: none;
    padding: 0;
    color: #292923;
    font-size: 1em;
}

.dish_list h1 {
    margin-bottom: 1em;
}

.container {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    justify-content: center;
    text-align: center;
}

.content {
    width: 100%;
}

.title {
    text-align: left;
    padding: 1em;
    color: #292923;
}

.dish {
    display: flex;
    justify-content: center;
    gap: 1em;
    text-align: center;
}

.menu {
    position: absolute;
    right: 2em;
    top: 7em;
}

select {
    width: 12em;
    padding: 8px;
    background-color: #faf0be;
    border: 1px solid #f3e5ab;
    border-radius: 4px;
    color: 292923;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5H7z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

.dish_menu {
    display: flex;
    justify-content: center;
    gap: 10px;
}