<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{url_for("static", filename="css/normalize.css")}}">
	<link rel="stylesheet" href="{{url_for("static", filename="css/styles.css")}}">

	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	{% include 'ins/header.html'%}

	<div class="container">
		<div class="content">
			{% block content %}
				<!-- Content -->
			{% endblock %}
		</div>
		
		{% include 'ins/aside.html'%}
	</div>

	{% include 'ins/footer.html'%}
</body>
</html>