{% extends "base/main.html" %}

{% block title %}
	{{data.title}}
{% endblock %}

{% block content %}
	<div class = "dish_list">
	<h1>Меню</h1>
	{% if data.content %}
		{% for i in data.content %}
			<div class="dish_info">
				<li>
					<span class="id">{{i.id}}</span>
					<span class="dishname">{{i.name}}</span>
					<span class="dishname">{{i.description}}</span>
					<span class="dishname">{{i.date}}</span>
					<a href = "/dish/{{i.id}}">Подробнее</a>
					<p></p>
				</li>
			</div>
		{% endfor %}
	{% else %}
		<p>Данные отсутствуют</p>
	{% endif %}
	</div>
{% endblock %}