certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
pycryptodome==3.20.0
python-dotenv==1.0.1
requests==2.31.0
urllib3==2.5.0
PySide6==6.6.2
PySide6_Addons==6.6.2
PySide6_Essentials==6.6.2
shiboken6==6.6.2
